@charset "utf-8";
/* CSS Document */

nav {background-color:azure;}
body {font-family:"Courier New";background-color:ghostwhite;}
.jumbotron {background-size:cover;background-image:url("resources/sky.jpg");color:ghostwhite}
.bluebtn {background-color:steelblue;color:ghostwhite}
.bluebtnbig {background-color:steelblue;color:ghostwhite;font-weight:500;}
.whitebtn {background-color:ghostwhite;color:steelblue}
.navb {font-weight:600;}
h1,h2,h3,h4,h5 {font-style:italic;font-weight:bold;}